.pink{
    background-color: pink;
}
.blue{
    background-color: blueviolet;
}
.green{
    background-color: green;
    /* font-size: 36px; */
}
.yellow{
    background-color: yellow;
    /* font-size: 28px; */
}

.row{
    border: 5px solid black;
    /* font-size: 20px; */
    height: 400px;
}