.container{
    border: 3px solid black;
    color: white;
    text-align: center;
    font-size: 20px;
    color: black;
}

.row{
    border: 1px solid red;
}
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}

.green{
    background-color: greenyellow;
}
.yellow{
    background-color: yellow;
}